.dashboard {
    min-height: 100vh;
    padding: 4rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(1,minmax(300px, 330px));
}
.dashboard__person {
    width: 100%;
    background-color: var(--blue-800);
    border-radius: var(--radii);
}


.dashboard__item {
    width: 100%;
    padding-top: 2.15rem;
    background-color: white;
    border-radius: var(--radii);

    background-repeat: no-repeat;
    background-position: 92% -8%;
}

